body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(9,8,8);
    background: linear-gradient(0deg, rgba(9,8,8,1) 0%, rgba(253,45,45,1) 100%);
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aqua;
    background: rgb(9,8,8);
    background: linear-gradient(0deg, rgba(9,8,8,1) 0%, rgba(253,45,45,1) 100%);
  }
  
  #screen {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ef1919;
  }
  